body {
  font-family: helvetica, verdana, sans-serif;
  color: #353535;
  margin:10px 0px; padding:0px;
  text-align:center;
}
form input {
  margin-bottom: 5px;
}

.section1, .paging_content, #txt_form {
  margin-bottom: 10px;
}

#content {
  width:550px;
  margin:0px auto;
  text-align:left;
  padding:15px;
  background-color: #fff;
} 

#top {
  width: 100%;
  background-color: #eee;
  padding: 5px;
}

#logo a{
  font-size: 1.3em;
  color: #b44;
}

#header {
  text-align: right;
  font-size: 0.8em;
  vertical-align: middle;
}

.header1 {
  padding-bottom: 10px;
  border-bottom: #999 solid 1px;
}

.t1 {font-size: 1.5em;}

.t2, .t3 {
  font-size: 1.5em;
}

.t2, .section {
  border-bottom: #999 solid 1px;
  padding-bottom: 20px;
}

#txt_table {
  width: 500px;
  margin: 0px auto;
}

#txt {
  width: 500px;
  height: 50px;
}

#chars {
  color: #ddd;
  font-size: 1.3em;
}

.err_msg {
  color: #f00;
}

.confirm_msg {
  color: #0d0;
}

.msg {
  border-bottom: #999 solid 1px;
  padding: 5px 3px;
}

.user_link {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: #a55;
}

a:hover {
  text-decoration: underline;
}
a:visited {
  color: #a55;
}

tr td span.user_link a{
  color: #000;
  font-weight: bolder;
}

table#navbar tr td a {
  font-size: 0.95em;
}

table#navbar tr td {
  font-size: 0.95em;
}

.msgbody {
  color: #555;
  display: block;
  font-size: 0.8em;
  width: 450px;
}

.bigmsg .msgbody {
  font-size: 2.2em;
}

.time {
  font-size: 0.7em;
  color: #666;
  white-space: nowrap;
}

.following_links {
  padding-left: 10px;
  vertical-align: bottom;
}

#navbar {
  margin: auto;
}

.paging_links {
  border-collapse: collapse;
}
.paging_link {
  padding: 1px 3px;
  border: #aaa solid 1px;
}

#footer {
  margin: 20px auto 0px auto;
  font-size: 0.7em;
}

.twoorl {
  padding: 50px 50px;
}

.twoorl_body {
  font-size: 3em;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#twitter_msg {
  font-size: 0.8em;
  text-align: left;
  color: #999;
}

.user_icon {
  text-align: center;
  padding: 3px;
}

#language_select_box {
  margin: 10px 0px 10px 0px;
  text-align: center
}

.gravatar { border:0px; }